---
import ProductLayout from "../../layouts/ProductLayout.astro";

const title = "Scribe";
const icon = "/images/products/comingsoon/icon1.png";
const tagline = "Coming soon.";
---

<ProductLayout {title} {icon} {tagline}>
  <p>
    Scribe is in development. Check back soon for updates.
  </p>
</ProductLayout>
